* {
    margin: 0;
    padding: 0;
}



#font-big {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 200%;
}

header {
    width:100%;
}

aside {
    height:50vh;
    width:30%;
    padding:1%;
    display:flex;
    flex-direction: column;
    border: solid 2px black;
    border-radius: 5%;
    text-align: center;
}

#top-bar {
    border: solid 4px rgb(81, 69, 185);
    margin-bottom:2%;
    padding:1%;
    text-align: center;
    background-image: radial-gradient(blue, purple)
}

#current-day-weather {
    border: solid 2px blue;
    width:60%;
    height:40vh;
    float:right;   
    margin-right:3%;

}

#daily-weather-container {
    width:60%;
    height:25vh;
    float: right;
    margin:2%;
    margin-right: 3%;
    display: flex;
}

.weather-day {
    width:30%;
    height:100%;
    border: solid 2px black;
    border-radius: 10px;
    box-shadow: 0px 13px 3px grey;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

}

.text-spacing {
    margin:1.5%;
}
