* {
    margin: 0;
    padding: 0;
    
}



#font-big {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 200%;
}

header {
    width:100%;
}

aside {
    width:30%;
    padding:1%;
    display:flex;
    flex-direction: column;
    border: solid 2px rgb(138, 138, 193);
    border-radius: 20px;
    text-align: center;
    margin-left: 2%;
}

#top-bar {
    border: solid 4px rgb(81, 69, 185);
    margin-bottom:2%;
    padding:1%;
    text-align: center;
    background-image: radial-gradient(blue, purple)
}

#current-day-weather {
    border: solid 2px rgb(138, 138, 193);
    border-radius: 20px;
    width:60%;
    float:right;   
    margin-right:3%;

}

#daily-weather-container {
    width:60%;
    height:25vh;
    float: right;
    margin:2%;
    margin-right: 3%;
    display: flex;
}

.weather-day {
    width:30%;
    height:100%;
    border: solid 2px rgb(138, 138, 193);
    border-radius: 10px;
    box-shadow: 0px 13px 3px grey;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

}

.text-spacing {
    margin:1.5%;
}



.list-style {
    list-style: none;
    border: solid 1px rgb(201, 201, 238);
    background-color: rgb(164, 186, 206, 0.5);
    border-radius: 10px;
    text-align: center;
    padding: 0 5% 0 5%;
    font-size: 100%;
    margin-top: 1%;
    transition: all 0.6s ease-in-out;

}

li:hover {
    transform: scale(0.8);
    cursor:pointer;

}

@media only screen and (max-width: 714px) {
    #daily-weather-container {
      display:flex;
      flex-wrap: wrap;
    }

    #current-day-weather {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .weather-day {
        width: 40%;
        margin: 4%;
    
    }
  }

